In [3]:
'''
List data structures in python
1. lists are mutable in nature
2. list contains both hetrogenous AND HOMOGENOUS ELEMents
3. list has indexing
4. lists are placed in square bracket
5. lists are growing nature , i,e we can perform append operations
6. list is collection type python in built data type , list stores the double the value of an array
7. lists are ordered data structure
8. Duplicates are allowed
'''

'\nList data structures in python\n1. lists are mutable in nature\n2. list contains both hetrogenous AND HOMOGENOUS ELEMrnts\n3. list has indexing\n4. lists are placed in square bracket\n5. lists are growing nature , i,e we can perform append operations\n6. list is collection type python in built data type , list stores the double the value of an array\n7. lists are ordered data structure\n'

In [4]:
# empty list
empty_list = []

# list of numbers
numbers = [1, 2, 3, 4, 5]

# list of cities
cities = ['Valencia', 'Munich', 'Madrid']

# lists can contain elements of different types as well as duplicated elements
elements = [1, 'A', 'A', False]

In [6]:
#create the list with the list() constructor
#Lists can also be created with the inbuilt function list([iterable]) this function takes only one argument that is  iterable  which can be any sequence type
import pandas as pd 
import numpy as np

# a string

a = list('Amanda')
# ['A', 'm', 'a', 'n', 'd', 'a']

# a tuple
b = list(('Madrid', 'Valencia', 'Munich'))
# ['Madrid', 'Valencia', 'Munich']

# a dictionary 
c = list({'hydrogen': 1, 'helium': 2, 'carbon': 6, 'oxygen': 8})
# ['hydrogen', 'helium', 'carbon', 'oxygen']

# a set
d = list({'Madrid', 'Valencia', 'Munich'})
# ['Munich', 'Madrid', 'Valencia']

# a range object
e = list(range(15))
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# a numpy array
f = list(np.array([1, 2, 3]))
# [1, 2, 3]

# a pandas series
e =list(pd.Series(['a', 'b', 'c']))
# ['a', 'b', 'c']

In [7]:
# we can also use the list constructor to create without any params which creates an empty list
a = list()
a
# it creates an empty list as []

[]

In [8]:
#Acess elements in list 
# the elements in list are called as slices and they are accessed by slice operator the slice operator syntax in python is a[:]
# the indexing the python list starts with 0 and goes till n-1
# list of cities
cities = ['Madrid', 'Munich', 'Valencia', 'Stuttgart']

# access the first element of the list
cities[0]
# 'Madrid'

# access the last element of the list
cities[3]
# 'Stuttgart'

# try to access an index out of range
cities[4]
# IndexError
#an index error may raised when we try to acces the index which is not present in the list

IndexError: list index out of range

In [9]:
#we can also access the elements of the list with the negative indexing
cities = ['Mandrid', 'Munich', 'Delhi', 'Guntur']

# the negative indexing in python starts with -1 still the last value
a = cities[-4]
# this gives 'Madrid' as output

b= cities[-1]
#this gives output as Guntur

c= cities[-6]
#error

IndexError: list index out of range

In [13]:
# to access the elements we may need to employ python slice operator
#[start:stop:step]

list = [1,2,3,4,5,6,7,8,9,10]

#this will print elements from 1 to 5, 0 is the start index and upto stop-1
a = list[0:5]
a

# this print all the elements in the list
b = list[:]
b

# this will give elements from start to 6-1 index that is 5 
c = list[:6]
c

# this will give the element with step to that is it will skip every second element
d = list[::2]
d

[1, 3, 5, 7, 9]

In [15]:
# remember that we can access and slice elements of list because they are ordered, wher as set we cant access them ny indexing
# list of numbers
numbers_list = [1, 2, 3]

# we can access an item of the list because lists are ordered containers
numbers_list[0]
# 1

# set of numbers
numbers_set = {1, 2, 3}

# we can not access an item of the set because sets are unordered containers
numbers_set[0]
# TypeError

TypeError: 'set' object is not subscriptable

4. Modify items in a list

We can modify an item of a list by giving the index or indexes in square brackets on the left-hand side of the assignment operator (as we access or slice a list), and the new values on the right-hand side.

The code below shows how we can update a single or multiple elements in a list as explained before.

In [17]:
# list of products
products = ['table', 'chair', 'lamp', 'closet', 'bed']

# modify a single item
products[1] = 'shelf'

# print products to observe the modification
print(products)
# ['table', 'shelf', 'lamp', 'closet', 'bed']

# modify multiple items - modification of indexes 0 and 1
products[:2] = ['pillow', 'desk']

# print products to observe the modification
print(products)
# ['pillow', 'desk', 'lamp', 'closet', 'bed']

['table', 'shelf', 'lamp', 'closet', 'bed']
['pillow', 'desk', 'lamp', 'closet', 'bed']

In [20]:
#Remove elements from list 
# there are three different ways to remove elements from a list
#1. del list[0]
#2. list.remove(2)
#3. list.pop()

products = ["abc","asc","asv","arf"]

del products[-1]
#products
#['abc', 'asc', 'asv']

del products[:2]
#products
#['asv']

del products
#name error

In [21]:
#removing using the pop method
cities = ['guntur', 'hyd', 'ogl']

cities.pop()
# it gives ['guntur', 'hyd']

cities.pop(1)
#['guntur']

# it removes the element as per the index given and even we store the popped elements in a variable 
# pop method is used in data structure such as queue and stack

['guntur', 'hyd']

In [23]:
# removing using remove method
cities = ['guntur', 'hyd', 'ogl']

cities.remove('ogl')
#['guntur', 'hyd']

In [45]:
# insert an element in list 
# we can insert the elements in list by two kinds
#1. insert method
#2 . append method
# insert method inserts the element at a particular index given where as the append add the element at the end
product = ["car", "bike", "comb", "busc", "choc"]

product.append('flute')
#['car', 'bike', 'comb', 'busc', 'choc', 'flute']

product.append(['car', 'mice'])
#["car", "bike", "comb", "busc", "choc",['car', 'mice']]

# product.append("the", "ub")
# throws error as we cant add two elements

product.insert(3,"chicken")
#['car', 'bike', 'comb', 'chicken', 'busc', 'choc', 'flute']

product.insert(23,"hen")
#['car', 'bike', 'comb', 'chicken', 'busc', 'choc', 'flute', 'hen'] if the index is more than the len it will be added at the last 

product.insert(-1,"ghr")
#['car', 'bike', 'comb', 'chicken', 'busc', 'choc', 'ghr', 'flute', 'hen'] its not added at the last elemnt


product.insert(len(product),"junk")
## insert an element at the end of the list

# sort a list
The sorted function

To sort elements of a list, we can use both the sorted function and the sort method. The sorted function returns a sorted list, but the list provided as input remains unchanged.

This function has the following syntax:

    sorted(iterable[, key][, reverse])

The first parameter is the iterable that we want to sort (in this case a list). The two following parameters, key and reverse, are optional, allowing us more complex sorting. We will see that later on!
The sort method

Unlike the sorted function, the sort method sorts the list in-place, returning None.

The sort method has the following syntax with two optional parameters as well: key and reverse.

    list.sort(key=…, reverse=…)

The code below shows how we can use both the sorted function and the sort method to sort the elements of a list.

In [46]:
# sorted function - returns a sorted list
numbers = [3, 7, 1, 5, 4]
numbers_sorted = sorted(numbers)

# numbers is not modified
print(numbers)
# [3, 7, 1, 5, 4]

# sorted function returns a sorted list
print(numbers_sorted)
# [1, 3, 4, 5, 7]


# sort method - modifies the list in-place and returns None
letters = ['c', 'b', 'd', 'a']
letters_sorted = letters.sort()

# letters is modified
print(letters)
# ['a', 'b', 'c', 'd']

# sort method returns None
print(letters_sorted)
# None

[3, 7, 1, 5, 4]
[1, 3, 4, 5, 7]
['a', 'b', 'c', 'd']
None

# Additional parameters: reverse and key

The sorted function and the sort method sort the elements in ascending order, unless we indicate otherwise, providing the parameter reverse=True.

In [47]:
numbers = [2, 8, 3, 1, 9]

numbers_ascending = sorted(numbers)
print(numbers_ascending)
# [1, 2, 3, 8, 9]

numbers_descending = sorted(numbers, reverse=True)
print(numbers_descending)
# [9, 8, 3, 2, 1]

[1, 2, 3, 8, 9]
[9, 8, 3, 2, 1]

# Another important parameter is key. We can sort a list based on the value returned by the function provided in the key parameter. We apply the function to each element of the list, and then we sort the elements based on the value returned by this function. The key parameter can contain built-in, anonymous, or normal functions as well as methods.

In the following examples, we use the key parameter to:

In [48]:
cities = ['Munich', 'Rome', 'Barcelona', 'Paris']

# Sort strings by length ascending order
cities_sorted = sorted(cities, key=len)
print(cities_sorted)
# ['Rome', 'Paris', 'Munich', 'Barcelona']

# Sort strings by length descending order
cities_sorted_r = sorted(cities, key=len, reverse=True)
print(cities_sorted_r)
# ['Barcelona', 'Munich', 'Paris', 'Rome']

['Rome', 'Paris', 'Munich', 'Barcelona']
['Barcelona', 'Munich', 'Paris', 'Rome']

In [49]:
# function defined with def 
def num_vowel(x):
  cnt = 0
  for char in x.lower():
    if char in ['a', 'e', 'i', 'o', 'u']:
      cnt += 1
  return cnt

names = ['Paula', 'Amanda', 'Ana', 'Amaranta', 'Li']

names_sorted = sorted(names, key=num_vowel)

print(names_sorted)
# ['Li', 'Ana', 'Paula', 'Amanda', 'Amaranta']

['Li', 'Ana', 'Paula', 'Amanda', 'Amaranta']

In [60]:
# function defined with def 
def num_vowel(x):
  print("sgsa",x)
  return x

  #return cnt

names = {'Paula':1, 'Amanda':2, 'Ana':3, 'Amaranta':4, 'Li':5}

names_sorted = sorted(names.values(), key=num_vowel)

print(names_sorted)
# ['Li', 'Ana', 'Paula', 'Amanda', 'Amaranta']

sgsa 1
sgsa 2
sgsa 3
sgsa 4
sgsa 5
[1, 2, 3, 4, 5]

In [61]:
# sort nested list by the third value
# list of lists [item,price,quantity]

shop_list = [['table', 150, 2], ['chair', 50, 4], ['carpet', 100, 1], ['painting', 200, 7]]

shop_list_sorted = sorted(shop_list, key=lambda x: x[2])
print(shop_list_sorted)
# [['carpet', 100, 1], ['table', 150, 2], ['chair', 50, 4], ['painting', 200, 7]]

[['carpet', 100, 1], ['table', 150, 2], ['chair', 50, 4], ['painting', 200, 7]]

The reversed function

To reverse the elements of a list, we can use both the reversed(seq) function and the list.reverse() method. The reversed function returns the reversed iterator of the given sequence, remaining the sequence provided as input unchanged. In comparison with the sorted function, the reversed function does not return a list so if we want to obtain a list, we have to use the list() constructor.

In [62]:
# list of products 
products = ['table', 'chair', 'lamp', 'closet', 'bed']

# reversed list
products_reversed = list(reversed(products))

print(products_reversed)
# ['bed', 'closet', 'lamp', 'chair', 'table']

TypeError: 'list' object is not callable

#concantinate the list
#There are multiple ways to join two lists in Python. The + operator is one of the simplest ways; in fact, we can also use this operator to concatenate another type of containers such as strings or tuples.

In [63]:
# list of products 1
products_1 = ['table', 'chair', 'lamp']

# list of products 2 
products_2 = ['closet', 'bed']

# list concatenation using + operator
products_total = products_1 + products_2
print(products_total)
# ['table', 'chair', 'lamp', 'closet', 'bed']

# we can also concatenate strings and tuples using + operator
print('Amanda ' + 'Iglesias')
# Amanda Iglesias

print(('table', 'chair', 'lamp') + ('closet', 'bed'))
# ('table', 'chair', 'lamp', 'closet', 'bed')

['table', 'chair', 'lamp', 'closet', 'bed']
Amanda Iglesias
('table', 'chair', 'lamp', 'closet', 'bed')

In [64]:
# with extend
# list of products 1
products_1 = ['table', 'chair', 'lamp']

# list of products 2 
products_2 = ['closet', 'bed']

# list concatenation using list.extend() method
returned = products_1.extend(products_2)

# list products_1 is modified in-place
print(products_1)
# ['table', 'chair', 'lamp', 'closet', 'bed']

# list products_2 remains unchanged
print(products_2)
# ['closet', 'bed']

# the list.extend() method returns None
print(returned)
# None

['table', 'chair', 'lamp', 'closet', 'bed']
['closet', 'bed']
None

In [65]:
# check whether an element present in list or not
# to chheck whether an element present in a given list or not we make use of the membership operator in
#    in → Evaluates to True if the object on the left side is included in the object on the right side.
 #   not in → Evaluates to True if the object on the left side is not included in the object on the right side.
    
# list of numbers
numbers = [1, 2, 3, 4, 5]

# membership operators
# check if the number 1 exists in the list
1 in numbers
# True

# check if the number 6 exists in the list
6 in numbers
# False 

# check if the number 2 does not exists in the list
2 not in numbers
# False

# check if the number 7 does not exists in the list
7 not in numbers
# True

True

# copy list :
To copy a list, we can simply use the list.copy() method. This method returns a shallow copy of the list. We have to be careful with shallow copies, since if your list contains another container-objects like other lists, tuples, or sets, they will be referenced again and not duplicated.

In [66]:
### list of strings ###
# a list with products
products = ['table', 'lamp', 'chair', 'shelf', 'closet', 'bed']

# create a shallow copy of the list
products_2 = products.copy()

# modify an element of the new list
products_2[0] = 'computer'

# the modification in products_2 is not observed in products since 'computer' is a string (primitive type)
print(products)
# ['table', 'lamp', 'chair', 'shelf', 'closet', 'bed']

print(products_2)
# ['computer', 'lamp', 'chair', 'shelf', 'closet', 'bed']


### nested list ###
# nested list with products and prices
products_prices = [['table', 40], ['lamp', 15], ['chair', 25], ['shelf', 35], ['closet', 150], ['bed', 250]]

# create a shallow copy of the nested list
products_prices_2 = products_prices.copy()

# modify the price of a table in the shallow copy
products_prices_2[0][1] = 35

# the modification in products_prices_2 is observed in products_prices 
# since the list containing the product and the price is referenced and not duplicated
print(products_prices)
# [['table', 35], ['lamp', 15], ['chair', 25], ['shelf', 35], ['closet', 150], ['bed', 250]]

['table', 'lamp', 'chair', 'shelf', 'closet', 'bed']
['computer', 'lamp', 'chair', 'shelf', 'closet', 'bed']
[['table', 35], ['lamp', 15], ['chair', 25], ['shelf', 35], ['closet', 150], ['bed', 250]]

In [67]:
#To avoid this problem, we can create a deep copy using the copy.deepcopy(x) function (defined in the copy module) as follows:
import copy

# nested list with products and prices
products_prices = [['table', 40], ['lamp', 15], ['chair', 25], ['shelf', 35], ['closet', 150], ['bed', 250]]

# create a deep copy
products_prices_2 = copy.deepcopy(products_prices)

# modify the price of a table
products_prices_2[0][1] = 35

# the modification in products_prices_2 is NOT observed in products_prices 
# since we are working with a deep copy
print(products_prices)
# [['table', 40], ['lamp', 15], ['chair', 25], ['shelf', 35], ['closet', 150], ['bed', 250]]

print(products_prices_2)
# [['table', 35], ['lamp', 15], ['chair', 25], ['shelf', 35], ['closet', 150], ['bed', 250]]

[['table', 40], ['lamp', 15], ['chair', 25], ['shelf', 35], ['closet', 150], ['bed', 250]]
[['table', 35], ['lamp', 15], ['chair', 25], ['shelf', 35], ['closet', 150], ['bed', 250]]

# The difference between shallow copies and deep copies is only relevant when the list contains other objects like lists (nested lists), since those objects will be referenced instead of duplicated (shallow copy). To create a fully independent clone of the original list, we have to make a deep copy.

It is important to bear in mind that the = operator does not make a copy of the list. It is just another name to refer to the same list, meaning any modification to the new list is reflected in the original one.

In [68]:
#list comprehensation
# list of cities
cities = ['valencia', 'barcelona', 'madrid']

# new list with capitalized names
cities_capitalized = [city.capitalize() for city in cities]

print(cities_capitalized)
# ['Valencia', 'Barcelona', 'Madrid']

['Valencia', 'Barcelona', 'Madrid']

In [70]:
# list of cities
cities = ['valencia', 'barcelona', 'madrid']

# new list with capitalized names
cities_capitalized = [city.capitalize() for city in cities if len(city)>6] #with condition

print(cities_capitalized)
# ['Valencia', 'Barcelona']

['Valencia', 'Barcelona']

In [72]:
a =[10,2,34,5,56,54,67,32]
min(a)

2

In [73]:
max(a)

67

In [74]:
sum(a)

260

In [79]:
avg = sum(a)/len(a)
avg

32.5

In [80]:
a.count(2)

1

In [81]:
a.count(33)

0

In [6]:
import datetime as dt
import pandas as pd

In [7]:
fromDate = '2021-07-10'
toDate = '2021-07-29'
daterange = pd.date_range(fromDate,toDate)

In [17]:
for singleDate in daterange:
    print((singleDate.strftime('%A')))
    print(singleDate.strftime('%Y-%m-%d'))

Saturday
2021-07-10
Sunday
2021-07-11
Monday
2021-07-12
Tuesday
2021-07-13
Wednesday
2021-07-14
Thursday
2021-07-15
Friday
2021-07-16
Saturday
2021-07-17
Sunday
2021-07-18
Monday
2021-07-19
Tuesday
2021-07-20
Wednesday
2021-07-21
Thursday
2021-07-22
Friday
2021-07-23
Saturday
2021-07-24
Sunday
2021-07-25
Monday
2021-07-26
Tuesday
2021-07-27
Wednesday
2021-07-28
Thursday
2021-07-29

In [2]:
a = "Gjlajdk"
a.lower()

'gjlajdk'

In [13]:
lastconnection = dt.datetime.strptime("21/12/2008", "%d/%m/%Y").strftime('%Y-%m-%d')

In [14]:
lastconnection

'2008-12-21'